@charset "UTF-8";

.img {
  height: 500px;
  background: url(../image/coffee-background.jpg);
}

.rpt {
  background: url(../image/coffee-background.jpg) no-repeat;
}

.cover {
  background: url(../image/coffee-background.jpg) no-repeat center/cover;
}

.contain {
  background: url(../image/coffee-background.jpg) no-repeat center/contain;  
}