@charset "UTF-8";

/* カード内の画像は以下のURLを使用して下さい */
/* https://picsum.photos/id/1005/200/300 */

.Q9 {
  width: 200px;
  height: 200px;
  background-color: #76ff826b;
  margin: 0 auto;
}

.fadein {
  animation-name: fadeIn;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeout {
  animation: fadeOut 4s 4s;
}

@keyframes fadeOut {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

.roll {
  animation: Roll 4s linear infinite;
}

@keyframes Roll {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

.Hover {
  width: 200px;
  height: 200px;
  background-color: #331aefd0;
  margin: 0 auto;
}

.change:hover {
  transition: 0.5s;
  background: #ff27e2c9;
}

.roll2 {
  transition: 0.5s;
  transform: rotate(0deg);
}

.roll2:hover {
  transform: rotate(360deg);
}

.up {
  position: relative;
}

.up:hover {
  transition: 0.5s;
  transform: translateY(-20%);
}

.right {
  position: relative;
}

.right:hover {
  transition: 0.5s;
  transform: translate(20%);
}

.tall:hover {
  transition: 0.5s;
  height: 300px;
}

.wide:hover {
  transition: 0.5s;
  width: 500px;
}

.frame {
  box-sizing: border-box;
}

.frame:hover {
  transition: 0.5s;
  border: 10px #00ffe5 solid;
}

.shadow {
  transition-duration: 0.5s;
}

.shadow:hover {
  transition-duration: 0.5s;
  box-shadow: 8px 11px 10px 3px #06031ed0;;
}

.Load {
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin: 0 auto;
  border-radius: 50px;
  border: solid 10px #ecf1fe;
  border-top-color: #14ff4bcd;
  animation: loading 1.1s linear infinite;
}

@keyframes loading {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.card-list {
  display: flex;
}

.list {
  border: 1px solid #000000;
  border-left: none;
  width: 300px;
  padding: 20px;
  font-size: 16px;
  background: #ffffff;
  transition-duration: 0.5s;
}

.list:first-child {
  border-left: 1px solid #000000;
}

.card-pic {
  width: 150px;
  height: 150px;
  background-image: url(https://picsum.photos/id/1005/200/300);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.list:hover {
  box-shadow: 0px 0px 10px 3px #424242d0;
  transition-duration: 0.5s;
  z-index: 1;
}