@charset "UTF-8";
/* 回答はここから */
.box {
  width: 200px;
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
}

.align-text {
  display: inline-block;
  text-align: center;
  width: 90px;
  background-color: #a4b3e9;
  padding: 10px;
}

.margin-text {
  margin: 0 auto;
  width: 90px;
  background-color: #a4b3e9;
  padding: 10px;
}

.table-box {
  width: 250px;
  height: 150px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.table-text {
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  padding: 10px;
}

.flex-box {
  width: 250px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-text {
  display: inline-block;
  background-color: #fff;
  font-size: 16px;
  padding: 10px;
}

.q1--position {
  position: relative;
}

.position-text {
  text-align: center;
  position: absolute;
  width: 90px;
  background-color: #a4b3e9;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}