@charset "UTF-8";
/* 回答はここから */

.all {
  display: flex;
  justify-content: center;
  align-items: center stretch;
}

.box {
  background-color: #d2b48c;
  outline: 10px solid #655;
  box-shadow: 0 0 0 6px #655;
  border-radius: 13px;
  padding: 10px;
  width: 200px;
  margin: 0 60px 0 0;
}
