@charset "UTF-8";

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  table-layout: fixed;
  font-size: 18px;
  line-height: 22px;
}

table td,table tr {
  border: 1px solid #000000;
  padding: 10px;
  line-height: 22px;
}

tr:nth-child(2n) {
  background-color: #d5ffe7;
}

tr:nth-child(2n+1) {
  background-color: #babcba;
}

table td:nth-child(1),table tr:nth-child(1) {
  background-color: #319c4a;
  line-height: 26px;
}

table tr:last-child {
  border-top: 1px double rgb(255,255,255);
}